body {
	font-family: Arial;
	font-size: 14px;
}

.togglelist {
	list-style: none;
	padding-left: 0;
	margin: 0;
}

.togglelist li a {
	display: block;
	min-width: 70px;
	line-height: 16px;
	margin: 3px auto;
	padding: 6px;
	background-color: #eee;
	color: #333;
	text-decoration: none;
}

.togglelist li:first-child a {
	margin-top: 0;
	border-top-left-radius: 3px 3px;
	border-top-right-radius: 3px 3px;
}

.togglelist li:last-child a {
	margin-bottom: 0;
	border-bottom-left-radius: 3px 3px;
	border-bottom-right-radius: 3px 3px;
}

.togglelist li a:hover, .togglelist li a:focus {
	background-color: #c8e8c3;
	outline: none;
}

.togglelist li .active {
	background: #64d153;
}

.inlineicon {
	vertical-align: middle;
	min-width: 16px;
	min-height: 16px;
	padding: 0 6px 0 0;
}

.hotkey {
	text-decoration: underline;
}
